label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
a{ text-decoration:none; color:#F8F8FF;}
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.content_reg{
	position: absolute;
	top: 160px;
	left: 180px;
	height: 65%;
	border: 5px solid #F8F8FF;
	  -webkit-border-radius: 12px; 
 	 -moz-border-radius: 12px; 
 	 border-radius: 12px; 
	border-radius: inset 5px;
	width: 600px;
    background: linear-gradient(45deg, #F8F8FF,#FFBBFF,#ccc);
	  background: -prefix-linear-gradient(45deg, #F8F8FF,#FFBBFF,#ccc);
	  box-shadow: 0 0  18px rgba(0, 0, 0, 0.6);
	
	}
.header{border-radius:10px 10px 0 0; background-color:rgba(0,0,0,0.5); height:30px; text-align:center; width:100%; color:#F8F8FF; padding-top:5px;
		font-family:tahoma; font-size:18px; text-shadow:0 0 5px #DA70D6; border-bottom:1px solid rgba(0,0,0,0.5);
		}	
.form_d{  padding:20px; font-family:Tahoma, Geneva, sans-serif;}

#login_panel{
	position:absolute;
	right:170px; top:165px;
	width:auto;
	height:400px;
	padding:15px;
	padding-left:10px;
	padding-right:10px;
	margin-right:5px;
	border:1px solid rgba(255,255,255,0.9);
	-webkit-border-radius: 5%; 
	-moz-border-radius: 5%;
	border-radius: 5%;
	box-shadow: 2px 2px 20px black;
	}
#login_panel_header{
	color:white;
	margin:-10px;
	margin-top:-14px;
	margin-bottom:14px;
	padding-top:8px;
	padding-bottom:5px;
	background:rgba(51,51,51,0.3);
	height: auto;
	width: auto;
	text-align: center;
	font: bold 17px tahoma;
	height:25px;
	word-spacing:6px;
	letter-spacing:2px;
	text-shadow:0 0 5px #DA70D6;
	border-radius:16px 16px 0 0;
	}
#login_panel_form span{
	font:"Courier New", Courier, monospace;
	font-size:18px;
	color:white;
	line-height:43px;
	text-shadow:1px 1px 1px black;
	letter-spacing:1px;
	word-spacing:6px;
	}	
	
	::-webkit-input-placeholder{
		color:rgba(51,51,51,1);	}
	:-moz-placeholder{
		color:rgba(51,51,51,1);	}
	::-moz-placeholder{
		color:rgba(51,51,51,1);	}
	:-ms-input-placeholder{
		color:rgba(51,51,51,1);	}
	
#userid{
	position: relative;
	border: 1px solid white;
	border-radius:2px;
	background: rgba(255,255,255,0);
	top: -2px;
	left: 24px;
	box-shadow:1px 1px 1px black;
	//padding-left:8px;
	text-align:center;
	letter-spacing:1px;
	font:"Times New Roman", Times, serif;
	font-style:oblique;
	}
#password{
	position: relative;
	border: 1px solid white;
	border-radius:2px;
	background: rgba(255,255,255,0);
	top: -3px;
	left: 4px;
	box-shadow:1px 1px 1px black;
	text-align:center;
	letter-spacing:1px;
	font:"Times New Roman", Times, serif;
	font-style:oblique;
	}	
#login_btn{
	position:relative;
	top:4px;
	left:70px;
	padding:10px 16px 11px !important;
	font-size:19px !important;
	background-color:rgba(255,255,255,1);
	font-weight:bold;
	letter-spacing:2px;
	text-shadow:1px 1px #57D6C7;
	color:#333;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid black;
	cursor:pointer;
	box-shadow:0 1px 0 rgba(0,0,0,1); 
	-moz-transition: all 0.5s ease-in-out; /* CSS3 transition to animate all A properties */
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}	
#login_btn:hover{
	padding:10px 16px 11px !important;
	font-size:19px !important;
	background-color:rgba(120,225,89,1);
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:bold;
	text-shadow:1px 1px black;
	color:#ffffff;
	border-radius:100px;
	border:1px sold #F36C8C;
	cursor:pointer;
	box-shadow:0 1px rgba(0,0,0,1);
	border-color:rgba(157,73,214,1);
	}	
#frgt_pwd {
	text-align:center; margin-top:20px;
	padding-left:60px;
	text-decoration:none;
	color:white; font-family:Tahoma, Geneva, sans-serif;
	text-shadow:0 0 1px #000000;
}
#frgt_pwd:hover {
	text-shadow:0 0 1px #DC143C; text-decoration:underline;
	transition: all 250ms ease-in-out;
}
#register_btn{
	top:4px;
	left:58px;
	}
table tr td { padding-top:5px;}

#home_button{} 