@CHARSET "ISO-8859-1";
body{
	margin-bottom:-20px;}
a,a:hover,a:visited,a:active{
		text-decoration:none;
		color:inherit;}
#fullpage {
	background-image: url(../images/background.png);
	background-repeat: repeat;
	margin:-7px;
	margin-bottom:-10px;
	padding-bottom:10px;
}
#menubar_container{
	height: 45px;
	}
#menubar{
	height: 25px;
	width: 482px;
	position: absolute;
	background-color: rgba(171,94,47,0.7);
	left: 419px;
	top: 80px;
	letter-spacing: 2px;
	word-spacing: 7px;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	border-top:2px solid rgba(102,102,102,1);
	border-bottom: 2px solid rgba(102,102,102,1);
	}
#left_trns_grad{
	position: absolute;
	top: 80px;
	width: 92px;
	height: 33px;
	background-color: rgba(233,195,122,0.8);
	background: -moz-linear-gradient(left, rgba(233,195,122,0) 0%, rgba(189,124,70,0.8) 85%, rgba(171,94,47,0.7) 100%);
	background: -webkit-linear-gradient(left,rgba(233,195,122,0) 0%, rgba(189,124,70,0.8) 85%, rgba(171,94,47,0.7) 100%);
	background: -0-linear-gradient(left,rgba(233,195,122,0) 0%, rgba(189,124,70,0.8) 85%, rgba(171,94,47,0.7) 100%);
	background: -ms-linear-gradient(left,rgba(233,195,122,0) 0%, rgba(189,124,70,0.8) 85%, rgba(171,94,47,0.7) 100%);
	background: linear-gradient(left,rgba(233,195,122,0) 0%, rgba(189,124,70,0.8) 85%, rgba(171,94,47,0.7) 100%);
	left: 327px;
	border-width: 2px 0 2px 0;
	border-style: solid;
	-moz-border-image: -moz-linear-gradient(left, rgba(233,195,122,0) , rgba(102,102,102,1)) 100% 1;
	-webkit-border-image: -webkit-gradient(linear,0 0,100% 0,from( rgba(233,195,122,0)), to(rgba(102,102,102, 1))) 100% 1;
	-webkit-border-image: -webkit-linear-gradient(left,rgba(233,195,122,0), rgba(102,102,102, 1)) 100% 1;
	-o-border-image: -o-linear-gradient(left,rgba(233,195,122,0), rgba(102,102,102, 1)) 100% 1;
	-ms-border-image: -ms-linear-gradient(left,rgba(233,195,122,0)), rgba(102,102,102, 1)) 100% 1;
	/*border-top: 2px groove rgba(102,102,102,1);
	border-bottom: 2px groove rgba(102,102,102,1);*/	/* border-width:2px; border-style:groove; border-width:100%;
	-webkit-border-image: -webkit-gradient(linear, 100%,0,0,0, from(rgba(233,195,122,0)) to(rgba(102,102,102,1))) 1 100%;
	-webkit-border-image: -webkit-linear-gradient(left,rgba(233,195,122,0) , rgba(102,102,102,1))100% 1;
	-moz-border-image: -moz-linear-gradient(left, rgba(233,195,122,0) , rgba(102,102,102,1)) 100% 1;
	-o-border-image: -o-linear-gradient(left,rgba(233,195,122,0) , rgba(102,102,102,1)) 100% 1;
	-ms-border-image: -ms-linear-gradient(left,rgba(233,195,122,0) , rgba(102,102,102,1)) 100% 1;
	border-image: linear-gradient(left,rgba(233,195,122,0) , rgba(102,102,102,1)) 100% 1;*/
	}	
#right_trns_grad{
	position: absolute;
	top: 80px;
	width: 92px;
	height: 33px;
	background-color: rgba(233,195,122,0.8);
	background: -moz-linear-gradient(right, rgba(233,195,122,0) 0%, rgba(189,124,70,0.8) 85%, rgba(171,94,47,0.7) 100%);
	background: -webkit-linear-gradient(right,rgba(233,195,122,0) 0%, rgba(189,124,70,0.8) 85%, rgba(171,94,47,0.7) 100%);
	background: -0-linear-gradient(right,rgba(233,195,122,0) 0%, rgba(189,124,70,0.8) 85%, rgba(171,94,47,0.7) 100%);
	background: -ms-linear-gradient(right,rgba(233,195,122,0) 0%, rgba(189,124,70,0.8) 85%, rgba(171,94,47,0.7) 100%);
	background: linear-gradient(right,rgba(233,195,122,0) 0%, rgba(189,124,70,0.8) 85%, rgba(171,94,47,0.7) 100%);
	left: 915px;
	border-width: 2px 0 2px 0;
	border-style: solid;
	-moz-border-image: -moz-linear-gradient(right, rgba(233,195,122,0) , rgba(102,102,102,1)) 100% 1;
	-webkit-border-image: -webkit-gradient(linear,100% 0,0 0,from( rgba(233,195,122,0)), to(rgba(102,102,102, 1))) 100% 1;
	-webkit-border-image: -webkit-linear-gradient(right,rgba(233,195,122,0), rgba(102,102,102, 1)) 100% 1;
	-o-border-image: -o-linear-gradient(right,rgba(233,195,122,0), rgba(102,102,102, 1)) 100% 1;
	-ms-border-image: -ms-linear-gradient(right,rgba(233,195,122,0)), rgba(102,102,102, 1)) 100% 1;
}	
#home,#act2005,#aboutus,#contactus {
	height: auto;
	width: auto;
	background-color: rgba(109,55,29,1);
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:white;
	text-shadow: 1px 1px rgba(255,0,0,1);
	padding:3px;
	font-size: 16px;
	font-style: oblique;
	margin: -1px;
	padding-top: -4px;
	padding-right: -1px;
	padding-bottom: -4px;
	padding-left: -1px;
	border-top-width: 2px;
	border-right-width: 3px;
	border-bottom-width: 2px;
	border-left-width: 3px;
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: inset;
	border-top-color: rgba(159,81,43,1);
	border-right-color: rgba(159,81,43,1);
	border-bottom-color: rgba(159,81,43,1);
	border-left-color: rgba(159,81,43,1);
	overflow:hidden;
	-moz-transition: all 0.5s ease-in-out; /* CSS3 transition to animate all A properties */
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
	#home:hover,#act2005:hover,#aboutus:hover,#contactus:hover {
	color:black;
	text-shadow: 1px 1px white ;
	background-color:rgba(231,177,99,1);
	border: 1px 2px 1px 2px;
	//border-style: solid;
	border-color:rgba(109,55,29,1);
	box-shadow: 1px 1px 2px 1px white inset;
	-webkit-border-radius: 37%; /* large radius to create circular borders */
	-moz-border-radius: 37%;
	border-radius: 37%;
	}
#content_transparent{
	width:1140px;
	height:auto;
	background-color:rgba(0,0,0,0.2);
	border:1px solid rgba(0,0,0,0.5);
	box-shadow:0 0 10px black;
	}	
#upcoming{
	margin-top:5px;
	margin-left:5px;
	width: auto;
	min-height: 226px;
	max-height: 226px;
	background-image: url(../images/bg34.png);
	background-repeat: no-repeat;
	
	font:"Courier New", Courier, monospace;
	font-size:12px;
	color:white;
	text-shadow:1px 1px 1px black;
	line-height:16px;
	letter-spacing:1px;
	word-spacing:3px;
	
	box-shadow: 2px 2px 20px white;
	padding:2px;
	-webkit-border-radius: 5%; 
	-moz-border-radius: 5%;
	border-radius: 5%;
	}
#upcoming_header{
	padding:2px;
	padding-bottom:5px;
	background:rgba(51,51,51,0.3);
	height: auto;
	width: auto;
	text-align: center;
	font: bold 14px Verdana;
	text-shadow: 1px 1px 1px black;
	border-radius:6px 6px 0 0;
	}	
#ongoing{
	margin-top:6px;
	margin-left:5px;
	margin-bottom:-5px;
	width:auto;
	min-height:226px;
	max-height:226px;
	background-image: url(../images/bg34.png);
	background-repeat: no-repeat;
	
	font:"Courier New", Courier, monospace;
	font-size:12px;
	color:white;
	text-shadow:1px 1px 1px black;
	line-height:16px;
	letter-spacing:1px;
	word-spacing:3px;
	
	box-shadow: 2px 2px 20px white;
	padding:2px;
	-webkit-border-radius: 5%; 
	-moz-border-radius: 5%;
	border-radius: 5%;
	}	
#ongoing_header{
	padding:2px;
	padding-bottom:5px;
	background:rgba(51,51,51,0.3);
	height: auto;
	width: auto;
	text-align: center;
	font: bold 14px Verdana;
	text-shadow: 1px 1px 1px black;
	border-radius:6px 6px 0 0;
	}		
#curr_project_container{box-shadow: 0px 0px 20px white; background-color:rgba(255,255,255,0.1);margin-left:8px;margin-right:5px;}	
#curr_project{
	background-color:rgba(0,0,0,0.2);
	height:65px;
	width:560px;
	margin-top:15px;
	margin-left:0px;
	padding-left:2px;
	padding-right:2px;
	padding-top:5px;
	padding-bottom:5px;
	border:1px solid rgba(255,255,255,0.9);
	-webkit-border-radius: 3%; 
	-moz-border-radius: 3%;
	border-radius: 3%;
	box-shadow: 2px 2px 20px black;
	font:"Courier New", Courier, monospace;
	font-size:18px;
	color:white;
	text-shadow:1px 1px 1px black;
	letter-spacing:1px;
	word-spacing:6px;
	}	
#curr_project span{
	margin-left:20px;
	}	
#project_content{
	height:360px;
	width:560px;
	margin-left:10px;
	margin-top:11px;
	margin-bottom:8px;
	z-index:1800px;
	background:rgba(51,51,51,0.2);
	padding-left:2px;
	padding-right:2px;
	padding-top:5px;
	padding-bottom:5px;
	border:1px solid rgba(255,255,255,0.9);
	-webkit-border-radius: 3%; 
	-moz-border-radius: 3%;
	border-radius: 3%;
	box-shadow: 2px 2px 20px black;
	font:"Courier New", Courier, monospace;
	font-size:15px;
	color:white;
	text-shadow:1px 1px 1px black;
	letter-spacing:1px;
	word-spacing:6px;
	}	
#project_content_btns{
	height:24px;
	margin-top:-4px;
	padding:-1px;
	padding-top:4px;
	word-spacing:3px;
	font-size:17px;
	background-color:rgba(255,0,0,0.6);
	border-radius:10px 10px 0 0;
	cursor:pointer;
	}	
#project_content_btns span{	
	padding:5px;	
	padding-left:20px;
	padding-right:20px;
	background-color:rgba(255,0,0,0.1);
	margin-left:-4px;
	margin-right:-4px;
	cursor:pointer;
	-moz-transition: all 0.5s ease-in-out; /* CSS3 transition to animate all A properties */
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
#project_content_btns span:hover{
	background-color:rgba(255,0,0,0.9);
	background: -moz-linear-gradient(left, rgba(255,0,0,0.2) 0%, rgba(255,0,0,1) 50%, rgba(255,0,0,0.2) 100%);
	background: -webkit-linear-gradient(left,rgba(255,0,0,0.2) 0%, rgba(255,0,0,1) 50%, rgba(255,0,0,0.2) 100%);
	background: -0-linear-gradient(left,rgba(255,0,0,0.2) 0%, rgba(255,0,0,1) 80%, rgba(255,0,0,0.2) 100%);
	background: -ms-linear-gradient(left,rgba(255,0,0,0.2) 0%, rgba(255,0,0,1) 50%, rgba(255,0,0,0.2) 100%);
	background: linear-gradient(left,rgba(255,0,0,0.2) 0%, rgba(255,0,0,1) 50%, rgba(255,0,0,0.2) 100%);
	color:inherit;
	text-shadow:1px 1px 2px black;
	box-shadow:0 1px 0px black;
	}	
#margin_1{
	position:relative;
	height:28px;
	width:1px;
	top:-28px;
	left:213px;
	border-right:2px groove #ffa07a;
	}	
#margin_2{
	position:relative;
	height:28px;
	width:1px;
	top:-56px;
	left:406px;
	border-right:2px groove #ffa07a;
	}		
#project_content_details_container{
	margin-top:-53px;
	height:330px;
	overflow-y:scroll;
	overflow-x:hidden;
	}		
#project_content_details{
	
	}	
	
	
	
#details_panel{
	width:auto;
	height:425px;
	padding:15px;
	padding-left:8px;
	padding-right:10px;
	margin-right:5px;
	margin-top:5px;
	border:1px solid rgba(255,255,255,0.9);
	-webkit-border-radius: 5%; 
	-moz-border-radius: 5%;
	border-radius: 5%;
	box-shadow: 2px 2px 20px black;
	}
#details_panel_header{
	margin:-10px;
	margin-top:-14px;
	margin-bottom:14px;
	padding-top:3px;
	padding-bottom:5px;
	background:rgba(51,51,51,0.3);
	color:rgba(242,242,242,1);
	height: auto;
	width: auto;
	text-align: center;
	font: bold 18px Verdana;
	word-spacing:6px;
	letter-spacing:2px;
	text-shadow: 1px 1px 1px  black;
	border-radius:16px 16px 0 0;
	}	
#table_details_panel_content{
	margin-top:-4px;
	font:"Courier New", Courier, monospace;
	font-size:15px;
	color:white;
	line-height:24px;
	text-shadow:1px 1px 1px black;
	letter-spacing:1px;
	word-spacing:1px;
	text-align:left;
	}
#change_pwd{
	text-align:center;
	margin-top:20px;
	text-decoration:none;
	color:white; font-family:Tahoma, Geneva, sans-serif;
	text-shadow:0 0 1px red;
	}	
#change_pwd_line{
	cursor:pointer;}	
#change_pwd:hover{
	color:rgba(204,153,255,1);
	text-shadow:1px 1px 0px white; text-decoration:underline;
	transition: all 250ms ease-in-out;
}	
#change_pwd_frm{
	position:absolute;
	width:inherit;
	top:427px;
	left:957px;
	opacity:1.0;
	display:none;
	}
#change_pwd_frm_inside{
	background-color:rgba(0,0,0,0.2);
	padding:13px;
	padding-top:11px;
	padding-bottom:10px;
	}	
#new_pwd,#new_pwd_re{
	border: 1px solid white;
	border-radius:2px;
	background: rgba(255,255,255,0);
	box-shadow:1px 1px 1px black;
	text-align:center;
	letter-spacing:1px;
	font:"Times New Roman", Times, serif;
	font-style:oblique;
	}	
	
	
	
#logout_btn{ margin-left:32px; margin-top:40px; height:25px; text-decoration:none; border:1px solid #00BFFF; width:200px;
 color:white; background-color:rgba(0,191,255,0.6); font-family:Tahoma, Geneva, sans-serif; text-align:center;}	

	
	
#footer{
	height:37px;
	background-color:rgba(171,94,51,0.3);
	border-top:2px;
	border-width:1px 0px 0px 0px; border-style:solid;
	border-color:white;
	-moz-border-image: -moz-linear-gradient(left,rgba(255,255,255, 0.5), white, rgba(255,255,255, 0.5)) 100% 1;
	-webkit-border-image: -webkit-gradient(linear,0 0,100% 0,from( white), to(rgba(255,255,255, 0.5))) 100% 1;
	-webkit-border-image: -webkit-linear-gradient(left,rgba(255,255,255, 0.5), white, rgba(255,255,255, 0.5)) 100% 1;
	-o-border-image: -o-linear-gradient(left,rgba(255,255,255, 0.5), white, rgba(255,255,255, 0.5)) 100% 1;
	}	
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="button"]{ font-family:Tahoma, Geneva, sans-serif; font-size:15px; 
                 border: 1px solid #006; width:80px; background: #BADA55; height:auto;}
#new_pwd_cancel{font-family:Tahoma, Geneva, sans-serif; font-size:15px; 
                 border: 1px solid #006; width:80px; background: #BADA55; height:auto;}				 